:root {
    --main_grad: linear-gradient(45deg, rgba(201,115,255,1) 0%, rgba(174,186,248,1) 100%);
    --bg_col: #000;
    --main_txt: white;
    --col_grad1: rgba(201,115,255,1);
    --col_grad2: rgba(174,186,248,1);
    --col_1: #28104e;
    --col_2: #6236a0;
    --col_3: #9754cb;
    --col_4: #deacf5;
}

.mainTitle {
    position: absolute;
    background: var(--main_grad);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 2em;
    -webkit-user-select: none;
}

.logo {
    padding: .8em .5em;
    background-color: none;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    border: 2px solid var(--col_grad1);
    border-radius: 1em;

    position: absolute;
    top: 80%;
}